[2017-11-28 05:19] Kazzz-S opened #1 "[WIP] KLayout 0.25: Compile Errors on Mac OSX"
With commit 11cb5eb9, I got errors attached.

Kazzz
[11cb5eb-MacOSX-build-log.zip](https://github.com/Kazzz-S/klayout/files/1508565/11cb5eb-MacOSX-build-log.zip)

[2017-11-28 12:00] Kazzz-S opened #2 "[WIP] KLayout 0.25: OASIS generated via PYA seems to have format error"
I’ve found a problem with a PYA that converts a DXF to OASIS; it works fine with 0.24.10,
but with 0.25, generated OASIS file has some format issues.

Data was sent to Matthias via E-mail.

[2017-12-10 08:06] Kazzz-S commented on #1
MacBookPro{sekigawa}(46)$ pwd
/Users/sekigawakazunari/GitWork/klayout-0.25/qt5.build.macos-yosemite/db/db

MacBookPro{sekigawa}(47)$ make
/Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/bin/clang++ -c -pipe -stdlib=libc++ -isysroot /Applications/Xcode.app/Contents/Developer/Platforms/MacOSX.platform/Developer/SDKs/MacOSX10.11.sdk -mmacosx-version-min=10.9  -fvisi

[2017-12-10 09:50] Kazzz-S commented on #1
@klayoutmatthias

Hi Matthias,
Could you please just see above errors.

Kazzz

[2017-12-10 21:02] klayoutmatthias commented on #1
Hi kazzz,

I do not really understand why clang is complaining. There is a "reference" type in array_iterator. It's a computed type and itself taken from a typedef. But all compilers I am using so far like this.

I switched to clang myself, so I was pretty sure I am capturing the clang specifics.

What clang version are you using? Maybe I can try to get the same and reproduce the issue myself.

Be

[2017-12-10 21:51] Kazzz-S commented on #1
@klayoutmatthias

Hi Matthias,

Thank you for response. I'm using the Clang compiler shown below.

Warm regards,
Kazzz

----
MacBookPro{sekigawa}(7)$ /Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/bin/clang++ --version
Apple LLVM version 7.0.2 (clang-700.1.81)
Target: x86_64-apple-darwin14.5.0
Thread model: posix

[2017-12-11 10:01] Kazzz-S commented on #2
Matthias responed...

[2017-12-11 10:17] Kazzz-S commented on #2
@klayoutmatthias,

Yes, your guess was correct!
The root cause was inappropriate usage of **LoadLayoutOptions:: set_layer_map()**.

In using 0.24.10, this method worked as expected and "Obstacle" layer was omitted during
import of a DXF with layer mapping.
But in using 0.25, the behavior of layer mapping was not correct, hence, "Obstacle" layer was passed to succeeding steps.

In 0.25, I should ha

[2017-12-11 10:17] #2 closed

[2017-12-11 12:50] Kazzz-S commented on #1
I'm going to try on MacOS High-Sierra, too.

----

Sierra:~ sekigawa$ g++ --version
Configured with: --prefix=/Applications/Xcode.app/Contents/Developer/usr --with-gxx-include-dir=/usr/include/c++/4.2.1
Apple LLVM version 9.0.0 (clang-900.0.37)
Target: x86_64-apple-darwin17.3.0
Thread model: posix
InstalledDir: /Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/bin

[2017-12-11 14:03] Kazzz-S commented on #1
I got the same error on High-Sierra, too.

----
Sierra:db sekigawa$ pwd
/Users/sekigawa/GitWork/klayout/qt5.build.macos-high-sierra/db/db
Sierra:db sekigawa$
Sierra:db sekigawa$ make
/Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/bin/clang++ -c -pipe -stdlib=libc++ -fvisibility=hidden -O2 -std=gnu++11  -arch x86_64 -isysroot /Applications/Xcode.app/Contents/Deve

[2017-12-11 23:35] klayoutmatthias commented on #1
Hi Kazzz,

I think I was able to solve the issue (praise to Docker!). I have created a pull request for this and synchronized our "macos-build" branches.

Hopefully that gets you further. Thanks for your efforts.

Best regards,

Matthias

[2017-12-12 14:02] Kazzz-S commented on #1
This issue has been fixed with #3.

[2017-12-12 14:02] #1 closed

[2017-12-12 14:03] Kazzz-S opened #4 "[WIP] Improve Python scripts for building KLayout for different Mac OSX platforms"

[2017-12-12 14:06] Kazzz-S opened #5 "[WIP] KLayout 0.25: No.2 Compile Errors on Mac OSX"
Facing another build issue...

MacBookPro{sekigawa}(250)$ /Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/bin/clang++ --version
Apple LLVM version 7.0.2 (clang-700.1.81)
Target: x86_64-apple-darwin14.5.0
Thread model: posix

----

/Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/bin/clang++ -headerpad_max_install_names -stdlib=li

[2017-12-12 14:13] Kazzz-S opened #6 "[WIP] Making "klayout.app" package"
Study and test the way to make "klayout.app" package with the help of "qmake"

[2017-12-12 14:32] Kazzz-S commented on #6
## klayout 0.25 with Qt5

MacBookPro{sekigawa}(244)$ pwd
/Users/sekigawakazunari/GitWork/klayout-0.25/qt5.build.macos-yosemite/klayout.app/Contents/MacOS

MacBookPro{sekigawa}(245)$ ./klayout
dyld: Library not loaded: libklayout_tl.0.dylib
  Referenced from: /Users/sekigawakazunari/GitWork/klayout-0.25/qt5.build.macos-yosemite/klayout.app/Contents/MacOS/./klayout
  Reason: image not found
Trace/BP

[2017-12-12 14:33] Kazzz-S commented on #6
## klayout 0.24.10 with Qt4
MacBookPro{sekigawa}(24)$ pwd
/Users/sekigawakazunari/SVNWork/klayout-0.24.10/bin.mac-yosemite-gcc-release/klayout.app/Contents/MacOS

MacBookPro{sekigawa}(25)$ ll
total 163028
drwxr-xr-x 6 sekigawa staff       204  4  3  2017 .
drwxr-xr-x 6 sekigawa staff       204  4  3  2017 ..
drwxr-xr-x 2 sekigawa staff        68  4  3  2017 drc
-rwxr-xr-x 1 sekigawa staff 16693768

[2017-12-12 14:44] Kazzz-S commented on #5
@klayoutmatthias

I'm facing another build issue.

[2017-12-12 22:26] klayoutmatthias commented on #5
I think this pull request may solve this issue: https://github.com/Kazzz-S/klayout/pull/7

[2017-12-13 11:40] Kazzz-S commented on #5
Yes, this issue has been solved.
Thank you!

[2017-12-13 11:40] #5 closed

[2017-12-16 09:20] Kazzz-S opened #8 "[WIP] KLayout 0.25 on Max OSX Yosemite does not start up"
Compile errors were resolved in #5!
Making application (*.app) by appropriately locating Frameworks and Libraries is another open issue #6.

Even in the present conditions, the built executable should start by "$ ./klayout" but it would not start.
The executable was built with:
`  ./build.sh  -debug \
  -qt5 \
  -qmake  /opt/local/libexec/qt5/bin/qmake \
  -bin    ./qt5.bin.macos-Yosemite-debug \

[2017-12-16 11:23] Kazzz-S commented on #8
I've built again **without Ruby, Python, and Qt bindings** with:
`  ./build.sh  -debug \
  -qt5 \
  -qmake  /opt/local/libexec/qt5/bin/qmake \
  -bin    ./qt5.bin.macos-Yosemite-debug \
  -build  ./qt5.build.macos-Yosemite-debug\
  -without-qtbinding \
  -option -j4 \
  -noruby \
  -nopython  2>&1 | tee ./qt5.build.macos-Yosemite-debug.log`

"$ ./klayout" still crashes as below.
![klayout-crash](h

[2017-12-16 11:44] Kazzz-S commented on #8
@klayoutmatthias,

Hi Matthias,

Could you give me any suggestions regarding what kind of experiments I should do regarding this.

Warm regards,
Kazzz

[2017-12-17 15:06] klayoutmatthias commented on #8
Hi Kazzz,

thanks for providing the valgrind log - it's very helpful already. Maybe you can perform the run again with more stack trace lines? "valgrind --num-callers=100 .." should be sufficient.

Best regards,

Matthias

[2017-12-18 12:55] Kazzz-S commented on #8
Hi Matthias,

After applying #9, I rebuilt KLayout and ran it with "valgrind --num-callers=100 .."
Please note that I have updated:
- Qt5 from 5.8 to 5.10.
- valgrind from 3.12.0 to 3.13.0.

1. [valgrind3.log.zip](https://github.com/Kazzz-S/klayout/files/1567877/valgrind3.log.zip) is the case when all of QtBinding, Ruby-support, and Python-support were **enabled.**
2. [valgrind4.log.zip](https://g

[2017-12-18 20:16] klayoutmatthias commented on #8
Hi kazz,

thanks very much for these further experiments. I very much appreciate what you are doing!

Regarding the two cases: they are basically equivalent: in both cases, the internal event distribution code isn't working. I guess the progress bar you see is one that comes from the library manager - maybe a library of yours gets read. But essentially the process gets stuck at the same point then

[2017-12-19 12:39] Kazzz-S commented on #8
Please just ignore above 4 pushes.
I'm practicing a new GUI tool for Git (SmartGit) :-)

[2017-12-19 14:06] Kazzz-S commented on #8
Thank you for providing the patch, which I tried and found the problem reproduced.
As you predicted, this does not seem the cause.

[valgrind4.zip](https://github.com/Kazzz-S/klayout/files/1571858/valgrind4.zip) contains the valgrind output and build log so that you can see the details of compiler options (generated by qmake).

Warm regards,
Kazzz

[2017-12-19 22:33] klayoutmatthias commented on #8
What a pity ... I need to meditate some more :-(

[2017-12-21 00:36] afgse commented on #8
Hello matthias and Kazz,

I was brought into the klayout project by lukasc-ubc to help compile the v. 025 build of klayout for OSX. I hope that I can contribute in some capacity to the effort.

You can get in contact with me here: jfakidis@gmail.com. I am in Pacific UTC-08:00 timezone and am available during working hours (9-5).

Regards,
JMF

[2017-12-21 06:43] klayoutmatthias commented on #8
Hi Jason,

Thanks for this offer.

Kazzz is pretty far already. There is a blocking issue for which there is a thread on his latest ticket (Please see his fork). The issue is well reproducible but not with my compiler. If you're into C++ it's a nice debugging excersise.

If you are on Skype I'd offer to have a debugging session my evening (CET) - that should be round noon your time.

Best regards,

[2017-12-21 10:04] Kazzz-S commented on #8
Hi Jason,

Thank you for your offer. I am in UTC+09:00 timezone (Japan).
My main work environment at home is _still_ Mac OSX Yosemite on MacBook Pro Mid. 2012 (at the office, Linux Mint). Others are virtual machines on VMware Fusion 5.8.9 including:

  Srl.No.   |     OS     | Xcode |  Qt from MacPorts   |  machine   | non-std. Python| non-std. Ruby|
-----------|-----------|---------|-------------

[2017-12-21 22:13] afgse commented on #8
Matthias,

I would find this helpful. Please send me a personal email with a date and time that works well for you. I need to plan accordingly as my skype connection does not work in my home.

Regards,
JMF

"If you are on Skype I'd offer to have a debugging session my evening (CET) - that should be round noon your time."

[2017-12-21 23:50] klayoutmatthias commented on #8
Hi Jason,

very good - it's a bit late for me now, but we can have such a session
tomorrow. I'm 9 hours ahead of you - my suggestion would be some time
around 1 to 2pm your time. If you can show a debugging session to me
we may be able to solve the issues together.

My Skype Name is koefferl67. I have not tried other channels so far -
maybe you have a different suggestion.

Best regards,

Matthias

[2017-12-22 17:11] afgse commented on #8
Hello Matthias,

Yes, today works for me (Dec 22, 2017). 1:00 My time is just fine. I will run a test earlier in the morning to send you a contact request via Skype.
I believe my supervisor (Lukas) is interested in joining us. I have cc’d him to alert him to our meeting.

Regards,
JMF

[2017-12-22 19:12] lukasc-ubc commented on #8
I’m sorry I have another meeting at that time.  1:30 hr later, would be ok. Otherwise please proceed without me.  Thank you!

[2017-12-22 19:27] afgse commented on #8
Matthias,

I have located you on skype and sent an greeting. I will be online for when
you are ready.

Regards,
JMF

On Fri, Dec 22, 2017 at 11:12 AM, Lukas Chrostowski <
notifications@github.com> wrote:

[2017-12-22 19:47] klayoutmatthias commented on #8
I'm online now ...

Matthias

Quoting Jason Fakidis <notifications@github.com>:

[2017-12-22 19:53] afgse commented on #8
I see that your online. Did you receive my message?

On Fri, Dec 22, 2017 at 11:47 AM, Matthias Köfferlein <
notifications@github.com> wrote:

[2017-12-22 20:09] klayoutmatthias commented on #8
Yes. I already replied.

Matthias

Quoting Jason Fakidis <notifications@github.com>:

[2017-12-22 20:10] klayoutmatthias commented on #8
Can you see my reply?

Quoting Jason Fakidis <notifications@github.com>:

[2017-12-22 20:54] klayoutmatthias commented on #8
https://superuser.com/questions/650050/how-to-find-out-a-file-belongs-to-which-package-in-mac-os-x
Quoting Jason Fakidis <notifications@github.com>:

[2017-12-22 23:07] klayoutmatthias commented on #8
@kazzz Hi kazz
Jason an me were trying to perform the build on MacOS. We came quite far but finally failed because libpng wasn't the right version (51.0.0 require 44.0.0 present).

Details are:
* Qt 5.9 from MacPort installed (package qt59)
* Build from macos_build branch

We got "klayout.app". We set DYLD_LIBRARY_PATH to point to the binary directory. We finally got a message saying that QtGui co

[2017-12-22 23:10] afgse commented on #8
dhcp-128-189-84-171:MacOS jasonfakidis$ ./klayout
dyld: Library not loaded: /opt/local/lib/libpng16.16.dylib
  Referenced from: /opt/local/libexec/qt5/lib/QtGui.framework/Versions/5/QtGui
  Reason: Incompatible library version: QtGui requires version 51.0.0 or later, but libpng16.16.dylib provides version 44.0.0
Abort trap: 6

[2017-12-22 23:13] afgse commented on #8
Used this command to build:

./build.sh -debug -qt5 -qmake /opt/local/libexec/qt5/bin/qmake -bin ./qt5.bin.macos-HighSierra-debug -build ./qt5.build.macos-HighSierra-debug -option -j4

[2017-12-22 23:16] afgse commented on #8
dhcp-128-189-84-171:MacOS jasonfakidis$ pwd
/opt/local/libexec/qt5/bin/Designer.app/Contents/MacOS
dhcp-128-189-84-171:MacOS jasonfakidis$ ./Designer
dyld: Library not loaded: /opt/local/lib/libpng16.16.dylib
  Referenced from: /opt/local/libexec/qt5/lib/QtGui.framework/Versions/5/QtGui
  Reason: Incompatible library version: QtGui requires version 51.0.0 or later, but libpng16.16.dylib provides v

[2017-12-23 11:51] Kazzz-S commented on #8
Hi Matthias and Jason,

Thank you very much for your effort!
It looks Jason is working on "High Sierra" with "Qt 5.9".
Right now, I'm trying to setup the same environment as Jason by duplicating my virtual machine.
Meanwhile, I've checked my "Yosemite" + "Qt 5.10" environment.
I think Jason's MacPorts environment is not up-to-date.

[code]

[2017-12-23 11:52] Kazzz-S commented on #8
To check MacPorts...

[code]

To update MacPorts...

[code]
Attached is a home-made Bash script to update/clean MacPorts.
Just start by "$ pup" then provide root password to update.
To clean up unnecessary tar-balls, "$ pup -c"

[pup.zip](https://github.com/Kazzz-S/klayout/files/1584066/pup.zip)

[2017-12-23 12:15] Kazzz-S commented on #8
"klayout" itself is depending on...

[code]

[2017-12-23 13:51] Kazzz-S commented on #8
I've downgraded Qt5 from Qt5.10 to Qt5.9 on duplicated "High Sierra".

[code]

[code]

Now, rebuilding KLayout in the above environment ...

[code]
------

Dependency is:

[code]

----

**The problem reproduced.**

[2017-12-25 21:48] Kazzz-S opened #10 "[WIP] Buddy tools have to be built as ordinary command line tools; not as bundles (*.app)"
The buddy tools  listed below have to be built as ordinary command line tools; not as bundles (*.app).

1. strm2cif
2. strm2dxf
3. strm2gds
4. strm2gdstxt
5. strm2oas
6. strm2txt
7. strmclip
8. strmcmp
9. strmrun
10. strmxor

[2017-12-30 01:08] klayoutmatthias commented on #8
Hi kazzz & Jason,

Good news!

I was able to run MacOS 10.13 inside a VirtualBox instance on my Ubuntu 16.04 - I already got the Xcode command line tools and I hope to be able to run a build myself then ...

Keep you updated.

Matthias

[2017-12-30 01:17] afgse commented on #8
@klayoutmatthias @Kazzz-S

I have created a google group to easier facilitate regular communication between individuals working on this subproject (macbuild). I hope this will be valuable to the both of you.

Would it be possible to get your emails to I can invite you to the google group subscription?

Or please send me an email with them discreetly. jfakidis@gmail.com

Regards,
JMF

[2017-12-30 01:39] afgse commented on #8
@klayoutmatthias

Could you remind me where we set DYLD_LIBRARY_PATH to execute the build script?

[2017-12-30 08:48] Kazzz-S commented on #10
Already merged in https://github.com/klayoutmatthias/klayout/commit/424ca31802ed7a492efa31e580481b8afbd212c9

[2017-12-30 08:48] #10 closed

[2017-12-30 09:39] Kazzz-S commented on #8
@klayoutmatthias

Really good news! https://github.com/Kazzz-S/klayout/issues/8#issuecomment-354519095

[2017-12-30 09:58] Kazzz-S commented on #8
@jasonfakidis

Bit long comment regarding https://github.com/Kazzz-S/klayout/issues/8#issuecomment-354520621 ...

**DYLD_LIBRARY_PATH** should point the directory where different "libklayout*.dylib"s were stored.
In other words, the directory you passed to "build.sh" with "-build" option.

----

After successful build, you will find "klayout.app/" there.
Then, go down [klayout.app/ ==> Contents/ =

[2017-12-30 19:46] klayoutmatthias commented on #8
Hi all,

I'm a bit further now and I think I understand what's happening.

This is my setup:
 - MacOS 10.13 on VirtualBox
 - Qt5.9 from MacPort
 - XCode 9.2
 - Python 3.6m from MacPort
 - Ruby 2.4 from MacPort

The VirtualBox solution is a fair workaround. It's kind of limited, but free and if you're flexible enough to virtualize your keyboard working brain part too - all the symbol keys are somew

[2017-12-30 21:29] klayoutmatthias commented on #8
I forgot to say I did not have to set DYLD_LIBRARY_PATH .. I don't know why.

Maybe the Xcode/MacPort combination was the right one. I need to say, I did not build with Qt support yet. That's the next thing I need to try.

[2017-12-30 22:54] afgse commented on #8
Thank you Kazzz!

[2017-12-31 06:41] afgse commented on #8
I have more or less experienced the same problems as stated previously. Am having trouble pointing my build to the right dependencies ( no surprise here. ) What I'll do is tear out all of my existing software minus ruby (anaconda python etc..) and try to rebuild.

Further, I'll see if I can find some images of older OS versions and run them on a VM. Any idea where to find these (sierra, mavericks.

[2018-01-01 01:29] Kazzz-S commented on #8
With the pull request https://github.com/Kazzz-S/klayout/pull/12, this blocking issue has been fixed.
Further issues will be tracked with separate tickets.

Thank you Matthias!

[2018-01-01 01:29] #8 closed

[2018-01-01 01:35] Kazzz-S commented on #6
With the pull request https://github.com/klayoutmatthias/klayout/pull/50, the contents of "Info.plist" file are property set and deployed bundles are shown properly in the Finder window as below.

This will close #6.
----

![klayout-main](https://user-images.githubusercontent.com/16847255/34465030-1c28f70c-eedf-11e7-9958-f30e573b1957.png)
![klayout-editor](https://user-images.githubusercontent.com

[2018-01-01 01:35] #6 closed

[2018-01-01 01:39] Kazzz-S commented on #4
With the pull request https://github.com/klayoutmatthias/klayout/pull/50, the contents of "Info.plist" file are property set and deployed bundles are shown properly in the Finder window as below.

This refs #6.

----
![klayout-main](https://user-images.githubusercontent.com/16847255/34465048-ec5be95c-eedf-11e7-92cb-a0c3a7c06989.png)
![klayout-editor](https://user-images.githubusercontent.com/16847

[2018-01-01 20:43] klayoutmatthias commented on #8
Hi Jason,

A happy new year to you!

We're making progress with the MacOS version :-)
Me and kazzz are sending pull requests back and forth - the
macos-build branch on kazzz's fork becomes stable now.  My test suite
is passing with a few very minor exceptions now.

I still see some sporadic crashes which seem to be connected to timer
events which disable or enable menu items. I'll try to debug the

[2018-01-02 01:28] Kazzz-S opened #15 "[BUG] QApplication: invalid style override passed, ignoring it."
@klayoutmatthias

Style options passed to QApplication are ignored.
This worked up to version 0.24.10.

[code]
The "-e" option is accepted and KLayout starts in the editor mode.

[2018-01-02 01:36] Kazzz-S opened #16 "[BUG] "About klayout" strings do not fit in the dialog window"
@klayoutmatthias

![about-1](https://user-images.githubusercontent.com/16847255/34472560-2887202c-efa8-11e7-9d24-94c0cd059ddd.png)

If I stretch the window border, they can be seen.
![about-2](https://user-images.githubusercontent.com/16847255/34472562-2dcedf7a-efa8-11e7-9c3c-0d871abef8a6.png)

[2018-01-02 01:44] Kazzz-S opened #17 "[BUG] Blurred image in the main canvas"
@klayoutmatthias

**KLayout 0.24.10:**
![klayout-02410](https://user-images.githubusercontent.com/16847255/34472641-bb90aa86-efa9-11e7-8b5b-ffa3e3fb5fde.png)

**KLayout 0.25:**  Partially transparent to the backgroud
![klayout-025](https://user-images.githubusercontent.com/16847255/34472615-22cb8884-efa9-11e7-90e9-b66cee6202c9.png)

[2018-01-02 21:48] klayoutmatthias commented on #17
Weired ... could this be a Qt 5 issue?

I don't see this effect on my VirtualBox, but maybe because most of the fancy graphics gimmicks are disabled.

[2018-01-02 21:49] klayoutmatthias commented on #16
Please assign this to me, if this is possible.

[2018-01-02 21:50] klayoutmatthias commented on #15
Please also assign this to me.

Thanks,

Matthias

[2018-01-02 22:04] Kazzz-S commented on #15
Assigned to Matthias as https://github.com/klayoutmatthias/klayout/issues/52

[2018-01-02 22:04] #15 closed

[2018-01-02 22:07] Kazzz-S commented on #16
Assigned to Matthias as https://github.com/klayoutmatthias/klayout/issues/53

[2018-01-02 22:07] #16 closed

[2018-01-02 22:16] Kazzz-S commented on #17
Assigned to Matthias as https://github.com/klayoutmatthias/klayout/issues/55

[2018-01-02 22:16] #17 closed

[2018-01-03 04:07] Kazzz-S opened #19 "[WIP] How to deploy when using non-OS-standard script languages?"
When linking non-OS-standard script languages listed below, build is successful but deployment is unsuccessful.

1. Ruby built from source
2. Ruby from MacPort
3. Python from Anaconda
4. Python from MacPort

[2018-01-04 12:04] Kazzz-S commented on #17
Refer to  klayoutmatthias#55

This was the issue with Qt 5.10.0.
Use Qt 5.9.3 as workaround.

[2018-01-09 11:59] Kazzz-S opened #22 "[WIP] Prepare Python script to make a DMG file from bundles"
Prepare Python script to make a DMG file from bundles

[2018-04-09 09:55] Kazzz-S opened #26 "[WIP] 2nd build of version 0.25.2 with Qt5.10.1 from MacPorts"
1) MacPorts has released Qt 5.10.1 package.
2) macOS High Sierra was updated.
![highsierra-update](https://user-images.githubusercontent.com/16847255/38500127-7523c5dc-3c44-11e8-9660-35e24055f63e.png)

So, let's rebuild the latest version 0.25.0 with
3) modified background image for DMG installer

[2018-04-09 13:42] Kazzz-S commented on #26
Here are the files of the 2nd build.
https://www.dropbox.com/sh/x23vsv1374m3d5b/AABABTHU1N0jGNEqLqdkfv8Xa?dl=0

![2nd-build](https://user-images.githubusercontent.com/16847255/38503877-3872a234-3c4e-11e8-8ff9-1e51725daeca.png)

[2018-04-20 21:44] Kazzz-S opened #27 "Resize the screen resolution of macOS High Sierra VM on VirtualBox to 1920x1080"
By default, the screen resolution of macOS High Sierra VM on VirtualBox is 1024x768, which is too small and hard to work with.

[2018-04-20 21:56] Kazzz-S commented on #27
##  1. Using VirtualBox on Mac OSX Yosemite...

### Step-1: Shutdown the virtual machine.

### Step-2: Confirm the virtual machine name.
MacBookPro{sekigawa}(1)$ _**/Applications/VirtualBox.app/Contents/MacOS/VBoxManage list vms**_

"DEXCS2017OF" {04d863fe-6481-4d5a-ab2f-69ba99b8e0fa}
"DEXCS2017OF-2" {5612f77a-9178-4ee7-8f06-82c1c6f58fff}
"DEXCS2010Adventure" {7b5824c8-acd9-4fd0-beaf-70df683ed0c8}

[2018-07-16 13:34] Kazzz-S opened #28 "Build "pymod" on Yosemite"
Attempt to build the latest (as of July 16, 2018) code on Yosemite, too.

----
Got a compile error:
[code]
because: clock_gettime() is not implemented on older versions of OS X (< 10.12).

----

[2018-07-17 10:13] Kazzz-S commented on #28
**[Save As] dialog in 0.25.3**

![2018-07-17 19 09 32](https://user-images.githubusercontent.com/16847255/42811267-15bb451c-89f5-11e8-9e67-bcee8a5c7c47.png)

----
**[Save As] dialog in 0.26**

![2018-07-17 19 08 01](https://user-images.githubusercontent.com/16847255/42811335-44f8f428-89f5-11e8-857d-a5cd776fcff0.png)

[2018-07-20 04:46] dwang commented on #28
Hi Kazzz,

I experienced the same compilation issue you had. I fixed the error in my pull request [here](https://github.com/klayoutmatthias/klayout/pull/145).

Regards,
Daniel

[2018-07-21 07:32] Kazzz-S commented on #28
@dwang

Hi Daniel,

Thanks for your comment.
I've already found a workaround as above and compiling went through.
Now going to build on HighSierra, too.

By the way, have you experienced the "Save As" dialog issue above in your environment (El Capitan, I guess)?
In fact, I got this when trying to save a design (with just one box) as OASIS.

Regards,
Kazzz

[2018-07-22 00:50] Kazzz-S commented on #28
Merged https://github.com/klayoutmatthias/klayout/pull/145

Thanks!
Kazzz

[2018-07-22 00:50] #28 closed

[2018-07-22 06:56] Kazzz-S commented on #28
(1) **[Save As] dialog in 0.25.3**

![2018-07-17 19 09 32](https://user-images.githubusercontent.com/16847255/42811267-15bb451c-89f5-11e8-9e67-bcee8a5c7c47.png)

----
(2) **[Save As] dialog in 0.26 of _pymod branch_: both in Yosemite and HighSierra.**
**_master branch_ does not have this issue.**

![2018-07-17 19 08 01](https://user-images.githubusercontent.com/16847255/42811335-44f8f428-89f5-11e8

[2018-10-06 08:38] Kazzz-S opened #29 "[WIP] Build on macOS 10.14 Mojave"
Attempt to build KLayout on macOS 10.14 Mojave with Qt5.11.1 from MacPorts.

[2018-10-06 08:51] Kazzz-S commented on #29
### Failed 1st trial ###
**It looks "ruby.h" is not found in the developer's tool kit.**
[code]
----
**Ruby's "Headers/" does not exist!**
[code]
----
**Present Command Line Tools:**
![2018-10-06 17 57 18](https://user-images.githubusercontent.com/16847255/46569515-54814900-c991-11e8-992e-5b2b59d3fd02.png)

[2018-10-06 09:26] Kazzz-S commented on #29
**Let's update Xcode tool to "version 10.1 beta-2"**
![2018-10-07 9 18 14](https://user-images.githubusercontent.com/16847255/46576965-d4e88e00-ca13-11e8-862f-2dd4443ce518.png)
----
[code]

**Make a tar-ball of "Headers" and unpack it under the system directory.**
[code]

[2018-10-07 01:00] Kazzz-S commented on #29
**With above modifications, build ended normally as following...**
[code]
----
**Deployment is OK.**
[code]
----
[code]
![2018-10-07 14 11 28](https://user-images.githubusercontent.com/16847255/46578448-64556780-ca3b-11e8-912c-14d95d7e3456.png)

[2018-10-07 05:27] Kazzz-S commented on #29
**Making DMG installer OK.**
[code]
----
[code]
![2018-10-07 14 26 39](https://user-images.githubusercontent.com/16847255/46578505-0cb7fb80-ca3d-11e8-870f-df1b506721f6.png)

[2018-10-07 05:52] Kazzz-S commented on #29
**Installation is OK.**
![2018-10-07 14 51 14](https://user-images.githubusercontent.com/16847255/46578689-9b7a4780-ca40-11e8-8e39-8425486742e0.png)

[2018-10-07 06:35] Kazzz-S commented on #29
### Back to the original Xcode 10.0 and repeat above steps...
![image](https://user-images.githubusercontent.com/16847255/46579133-961ffb80-ca46-11e8-89cd-7397712eaceb.png)
----
[code]
----
**Deployment, making DMG file and installation were successful!**

[2018-10-07 09:02] #29 closed

[2018-10-08 11:06] Kazzz-S opened #30 "[WIP] Simplify macOS DMG installer image"
To incorporate suggestions from Thomas and Lukas:
* https://github.com/klayoutmatthias/klayout/pull/180#issuecomment-427664113
* https://github.com/klayoutmatthias/klayout/pull/180#issuecomment-427721475

[2018-10-08 11:07] Kazzz-S commented on #30
![2018-10-08 19 58 11](https://user-images.githubusercontent.com/16847255/46605848-ceeace00-cb35-11e8-9b0d-f488ab4c088e.png)

[2018-10-20 08:21] Kazzz-S opened #31 "Exporting DXF with LINE entities for Abaqus CAE"
When importing a DXF file comprising POLYLINEs or LWPOLYLINEs into  Abaqus CAE, they are forcibly converted to points!
**This is a "specification" of Abaqus CAE.**

In contrast, LINEs are kept as lines, which will be then assembled into polygonal objects internally if required.

This is a task to enhance class **DXFWriter** to export polygons as **LINE entities** in DXF format.
Obviously, compared

[2018-10-20 08:31] Kazzz-S commented on #31
![klayout-dxf04](https://user-images.githubusercontent.com/16847255/47253456-e8710b80-d48d-11e8-9521-6fb2de4ed7bc.png)
![klayout-dxf05](https://user-images.githubusercontent.com/16847255/47253710-06406f80-d492-11e8-88f5-248d4a785f75.png)

[2018-10-20 08:45] Kazzz-S commented on #31
## OASIS ##
![klayout oas](https://user-images.githubusercontent.com/16847255/47253564-b2348b80-d48f-11e8-9b26-a3a9200284b7.png)
## DXF with POLYLINE ##
![klayout-polyline](https://user-images.githubusercontent.com/16847255/47253566-bbbdf380-d48f-11e8-8795-f5649bc3401e.png)
## DXF with LINE ##
![klayout-line](https://user-images.githubusercontent.com/16847255/47253568-c4aec500-d48f-11e8-86e6-81891

[2018-11-03 23:09] Kazzz-S commented on #29
### Recent Xcode update  includes "ruby.h" file (checked on November 4th, 2018) ###
![2018-11-04 7 59 35](https://user-images.githubusercontent.com/16847255/47958143-8de8bb00-e008-11e8-9637-9697652adf72.png)
![2018-11-04 8 00 52](https://user-images.githubusercontent.com/16847255/47958145-94773280-e008-11e8-8e25-d30e447db6cc.png)
![2018-11-04 7 58 51](https://user-images.githubusercontent.com/1684

[2018-11-24 00:37] Kazzz-S commented on #31
Merged in https://github.com/klayoutmatthias/klayout/pull/199

[2018-11-24 00:37] #31 closed

[2018-11-24 00:40] Kazzz-S commented on #30
Started using the new installer from version 0.25.5 onwards.

[2018-11-24 00:40] #30 closed

[2018-11-24 00:41] #26 closed

[2018-11-24 00:42] #22 closed

[2018-11-24 00:43] #4 closed

[2018-12-02 01:05] Kazzz-S opened #32 "Incompatibility with Sierra(10.12.6) with Security Update 2018-005, -006"
With the Security Update 2018-005, KLayout **binary packages built on El Captian (10.11) no longer work on Sierra (10.12)**, unfortunately ;-(

Hence, we need to build KLayout (0.25.6 as of today) on Sierra itself.
However, with some problems of OS-bundled Ruby and Xcode (similar problems with the initial environment of Mojave), build fails.

This is an attempt by enabling **" -noruby Don't build

[2019-01-12 09:22] Kazzz-S opened #33 "[WIP] Build 0.25.7 on Mac"
Attempt to build 0.25.7 on Mac

[2019-01-14 01:03] Kazzz-S commented on #32
The problem reproduces with "Security Update 2018-006" released in December 2018.
(Using KLayout v0.25.7)

[2019-01-14 01:06] Kazzz-S commented on #32
## Yosemite 10.10.5 ##
[code]
## El Capitan 10.11.6 ##
[code]
## Sierra 10.12.6 : Problematic! ##
**This should have been like "High Sierra" and "Mojave."**
[code]
## High Sierra 10.13.6 ##
[code]
## Mojave 10.14.2 ##
[code]

[2019-01-15 12:25] Kazzz-S commented on #33
Close this ticket by sending P/R https://github.com/KLayout/klayout/pull/224

[2019-01-19 00:42] Kazzz-S commented on #33
Done ===> https://github.com/KLayout/klayout/issues/223

[2019-01-19 00:42] #33 closed

[2019-07-01 14:30] Kazzz-S commented on #32
**Workaround** :  _manual deployment of Ruby_

[code]

[code]

<Step-A> Copy all files under (1) to (2).
<Step-B> Copy (3) in the name of (4).

[code]
<Step-C> Make the above directory structures.

<Step-D> Copy (5) & (6) to Headers/

[code]

[code]

Edit "config.h" as (7).

[2019-07-01 21:14] Kazzz-S commented on #32
**Built KLayout version 0.25.9 with above changes.**

![Sierra-10126](https://user-images.githubusercontent.com/16847255/60467092-890c0200-9c90-11e9-9133-efa94baefcad.png)

![Sierra-0259](https://user-images.githubusercontent.com/16847255/60466828-b906d580-9c8f-11e9-90dd-c6b669a8330b.png)

[2019-07-01 21:25] Kazzz-S commented on #32
Close with the workaround.

[2019-07-01 21:25] #32 closed

[2019-07-20 04:56] Kazzz-S opened #34 "Klayout 0.25.9 built successfully but unable to open"
This is an experiment to address the issue described in:

https://www.klayout.de/forum/discussion/1278/klayout-0-25-9-built-successfully-but-unable-to-open

#### Assumptions
1. **anaconda3** is installed under **$HOME/anaconda3/**.
2. **qt** and **ruby** have been installed to **anaconda3** using _conda_ command line tool.
3. KLayout (0.25.9) is built from the source code and used on the same mach

[2019-07-20 05:29] Kazzz-S commented on #34
### Preparations

1. Download the ZIP file of https://github.com/Kazzz-S/klayout/tree/0.25.9-anaconda3
![01](https://user-images.githubusercontent.com/16847255/61574386-f37aca00-aaf9-11e9-9e2b-3e8ed5278bed.png)

2. Unzip downloaded **klayout-0.25.9-anaconda3.zip** and change directory to **klayout-0.25.9-anaconda3/**

3. Edit **macbuild/build4mac_env.py** to incorporate your Ruby version in anacon

[2019-07-20 05:35] Kazzz-S commented on #34
### Check the build tool
[code]
[code]
In this branch, I've added **Ana3** options for experiment.

[2019-07-20 05:43] Kazzz-S commented on #34
### Check the options used to build
[code]
Note that I've tested this branch on my **Yosemite**. If you use a different OS, its name should appear wherever relevant.
[code]

[2019-07-20 05:46] Kazzz-S commented on #34
### Build
[code]
[code]

[2019-07-20 07:14] Kazzz-S commented on #34
### Check the binaries built

Libraries and executables are stored under "qt5.bin.macos-**Yosemite**-release/"  like:
[code]
----
### Try to start the application and see the reproduced problem
[code]
[code]

[2019-07-20 07:30] Kazzz-S commented on #34
### Deploy libraries and binaries adding the "-Y" option to the build options
[code]
[code]

[2019-07-20 07:37] Kazzz-S commented on #34
### Run the application

The final application **kayout.app** is located under "qt5.pkg.macos-**Yosemite**-release/" like:
[code]
You can ignore (2), which is built for a backward compatibility.
Copy/move (1) to **/Applications** if you like.

[code]
![03](https://user-images.githubusercontent.com/16847255/61575944-fbdd0000-ab0d-11e9-9815-8dca7263621e.png)
![04](https://user-images.githubuserconte

[2019-07-20 07:49] Kazzz-S commented on #34
### Some more tests...
![05](https://user-images.githubusercontent.com/16847255/61575963-3e9ed800-ab0e-11e9-8286-6297ef6d385c.png)
----
### DRC in Ruby works!
![06](https://user-images.githubusercontent.com/16847255/61575969-524a3e80-ab0e-11e9-82fd-a0be79f7cc86.png)

[2019-07-20 08:02] Kazzz-S commented on #34
### Check buddy tools under _klayout.app/Contents/Buddy/_
[code]
----
For example,
[code]
[code]

[2019-08-10 11:30] Kazzz-S opened #35 "DXF export creates AutoCAD incompatible files"
This is to address the issue https://github.com/KLayout/klayout/issues/320

Test data:
[cell_name_example.zip](https://github.com/Kazzz-S/klayout/files/3488780/cell_name_example.zip)

![cell_name_example](https://user-images.githubusercontent.com/16847255/62821291-b4e2a780-bbad-11e9-8739-b219a3b9083c.png)

[2019-08-10 11:57] Kazzz-S commented on #35
**Flag on an error if such a case was found while exporting to DXF.**

![error-cell_name_example](https://user-images.githubusercontent.com/16847255/62821539-6afbc080-bbb1-11e9-9108-8cb7694218e9.png)

[2019-08-10 12:01] Kazzz-S commented on #35
**Second test case:**  [cell_name_example2.zip](https://github.com/Kazzz-S/klayout/files/3488805/cell_name_example2.zip)

![cell_name_example2](https://user-images.githubusercontent.com/16847255/62821565-dc3b7380-bbb1-11e9-9158-f21e56925e2b.png)

![error-cell_name_example2](https://user-images.githubusercontent.com/16847255/62821569-ef4e4380-bbb1-11e9-90fe-ad13644f3f44.png)

[2019-09-01 13:58] Kazzz-S commented on #34
### Additional notes:

Sometimes you may have to set the **PYTHONHOME** environment variable where the shell script below is needed.

[code]
You can easily make an application icon of this shell script by using MacOS' **Automator** tool.

![Automator](https://user-images.githubusercontent.com/16847255/64077375-0395e400-cd0b-11e9-9e45-7475047c702e.png)

To distinguish this new KLayout from the orig

[2020-02-17 22:04] Kazzz-S opened #36 "Update Homebrew/MacPorts environment for the next maintenance"
## Homebrew ##

On Catalina,

* Jan.2020  ---> as of Feb. 18th 2020
* Ruby 2.6.5 ---> 2.7.0
* Python 3.7.5 ---> 3.7.6
----
[code]
[code]

[2020-02-27 10:02] Kazzz-S commented on #36
## MacPorts ##

[code]

[2020-02-29 23:40] Kazzz-S commented on #36
If 0.26.4 does not merge 0.26.3-mac1, do merge this, too.
https://github.com/kazzz-s/klayout/commit/5bb85c749007abe6669d90f07d949fb22c4e86e9

----
DONE!

[2020-03-05 21:45] Kazzz-S commented on #36
https://github.com/Kazzz-S/klayout/issues/36#issue-566535966
DONE in version 0.26.4.

[2020-03-07 23:22] Kazzz-S commented on #36
Released as https://github.com/KLayout/klayout/issues/519

[2020-03-12 21:24] Kazzz-S commented on #36
Homebrew updated Python to 3.7.7 on March 12, 2020.

**This has to be merged into the next maintenance.**

[2020-04-08 19:57] demisjohn opened #37 "Yosemite: "verifying" forever"
Hello @Kazzz-S ,
Thanks for all your work to keep KLayout installers work for MacOS!

I was trying to have my coworker learn KLayout, but found that, on her iMac running Yosemite (10.10.5), the old Yosemite-compatible versions of klayout (0.25.9) never launch, instead MacOS shows a "verifying" progress bar that never ends as far as we can tell.

Any suggestions on how to get KLayout running on her

[2020-04-08 22:12] Kazzz-S commented on #37
Hello @demisjohn,

Thank you for using the MacOS packages.
Is she facing the issue just after the initial installation?
I do not remember such trouble on Yosemite.
My machine is MacBook Pro Mid 2012 model with 16GB main memory.
Does her machine have enough memory?

One thing I can suggest is:
  1.  rename (or delete) $HOME/.klayout/klayoutrc
  2. restart the tool

After releasing the official DMG

[2020-04-09 10:01] Kazzz-S commented on #37
Hello @demisjohn,

A new 0.25.9 build **klayout-0.25.9-MacOSX-Yosemite-4-Qt5101mp.dmg** is available under:
https://www.dropbox.com/sh/a7pmxxq01ua2j0h/AABjZpyzU8vvuca1957gpZRna?dl=0

Try this one if you like.
Regards,
Kazzz

[2020-04-09 14:51] demisjohn commented on #37
Thanks, we’ll give it a shot!
Will let you know later today.
-- Demis

[2020-04-09 15:01] demisjohn commented on #37
Oh, I didn’t answer your questions below:
1) correct, we launch a brand KLayout after coping to our Applications folder, and it pops up a MacOS “verifying” progress bar. I believe this is the MacOS app verification, to ensure apps aren’t hacked or contain viruses etc. - I don’t know how it does that though.
Disabling App verification (I found some “defaults write LaunchControl ....” CLI somewhere)

[2020-04-09 15:03] demisjohn commented on #37
It worked!
It now launched with no problem at all.

Thank you!
-- Demis

(Swnt frm my oPhone)

[2020-04-09 21:40] Kazzz-S commented on #37
Glad to know it worked :-)
Let me close this ticket.

Kazzz

[2020-04-09 21:40] #37 closed

[2020-05-05 23:39] Kazzz-S commented on #36
Merged for building 0.26.5.

https://github.com/KLayout/klayout/issues/552
https://github.com/KLayout/klayout/pull/553

[2020-05-05 23:39] #36 closed

[2020-05-05 23:41] Kazzz-S commented on #19
Solved (nearly) in the build of 0.26.3~

[2020-05-05 23:41] #19 closed

[2020-05-05 23:42] #34 closed

[2020-05-05 23:45] Kazzz-S commented on #35
discontinuation

[2020-05-05 23:45] #35 closed

[2020-09-01 21:24] Kazzz-S opened #38 "Module installation by 'pip' on Homebrew version"
https://github.com/KLayout/klayout/issues/589#issuecomment-667584948

[code]

[2020-09-12 22:11] Kazzz-S opened #39 "Mac DMGs for 0.26.8"
Let's attempt to upgrade the modules

1. Qt5.15.1 and Python 3.8 in Homebrew
2. Python 3.8 in MacPorts
3. Python 3.8 in Anaconda3

[2020-09-20 21:55] Kazzz-S commented on #39
Dear Matthias,

Thank you very much for making the maintenance release.
As usual, different DMG packages of **KLayout 0.26.8 for Mac** are available as below ([0.26.8 Dropbox Link](https://www.dropbox.com/sh/2n2wtw5g2wi2x4x/AABS1Kv_B2BTo3TeWli7Ba3qa?dl=0)).
**Please note that _pymod_ is not included in those packages.**

## DMG file naming convention ##
**0.26.8 for Catalina** is taken as an examp

[2020-09-21 22:02] klayoutmatthias commented on #39
@kazzz DMGs are on the server. Thanks a lot!

Best regards,

Matthias

[2020-09-21 22:04] klayoutmatthias commented on #39
@kazzz I'm missing the Mojave DMG in the dropbox folder. Everything else is there.

[2020-09-21 22:06] Kazzz-S commented on #39
Dear Mathias,

Work is still going. The Mojave is under build.

Once ready, I’ll issue a ticket as usual.

Regards,
Kazzz-S

[2020-09-21 22:16] Kazzz-S commented on #39
@klayoutmatthias

I've issued this ticket for stating.
But, by mistake, I've mentioned your address :-)

The Mojave build is done just now. After some tests, I'll upload it.

Regards,
Kazzz-S

[2020-09-21 22:26] #39 closed

[2020-10-06 10:02] Kazzz-S opened #40 "Inconsistency in Edit ---> Select ---> Select All"
Found inconsistency in the number of objects selected in `Edit --->  Select ---> Select All` operation as below.

KLayout version = 0.26.8
|OS| cell hierarchy level=1|cell hierarchy level=2|Remarks|
|:-----:|:--------------------:|:--------------------:|:--------:|
|Linux|![Linux1](https://user-images.githubusercontent.com/16847255/95187305-f7c9fa80-0805-11eb-99ec-396646685894.png)|![Linux2](https

[2020-10-06 10:23] Kazzz-S commented on #40
Rebuilt KLayout with the latest MacPorts env. (OS=10.15.7)
[code]
but the problem reproduced.

[2020-10-06 21:20] Kazzz-S commented on #40
Rebuilt KLayout with the latest MacPorts env. (OS=10.15.7)
[code]
That is, **Ruby 2.6 from MacPorts** has been switched to the **OS-bundled Ruby.**

|OS| cell hierarchy level=1|cell hierarchy level=2|Remarks|
|:-----:|:--------------------:|:--------------------:|:--------:|
|macOS Catalina|![macOS3](https://user-images.githubusercontent.com/16847255/95261739-e31d4f00-0865-11eb-81ad-9059571a1628.p

[2020-10-14 21:49] Kazzz-S opened #41 "Using Python 3.x in Homebrew"
**brew update** often changes the pathname like `.../python3/Frameworks/...  ---> .../python@3/Frameworks/... `.
How to handle this?
[code]

[2020-10-15 01:32] Kazzz-S commented on #40
I have rebuilt 56d3afb4 using Python 2.7 from MacPorts.
Unfortunately, the problem was reproduced :-(

[2021-04-27 21:54] Kazzz-S opened #44 "Mac DMGs for 0.26.12"
Started preparation works in the backyard...

[2021-11-27 02:43] Kazzz-S opened #45 "Migration of KLayout (0.27.5~) for macOS to Qt6"
To sync with the migration work to Qt6 f4c0a43d492867962455e0b0adb9b9236e175ee9

[2021-11-27 02:44] #44 closed

[2021-11-27 02:44] #41 closed

[2021-11-27 02:45] #38 closed

[2021-11-27 03:23] Kazzz-S commented on #45
## DropBox for This Task ##

I have prepared a DropBox for this task [here](https://www.dropbox.com/sh/scbjxltjmaivrux/AADHc9_FNH09xOmbyEn3BYP8a?dl=0).

[2021-11-27 04:01] Kazzz-S commented on #45
## Build-01 on Catalina ##

Build log files are [here](https://www.dropbox.com/sh/7cgx50crh5a1yu7/AAAaNXF33CqE_F2DBUnkPK6Ua?dl=0).

### 1. MacPorts Qt6 ###
 Some Qt6 packages are not provided yet. So, MacPorts is out of consideration for the time being.
[code]
### 2. Homebrew Qt6 with -r [sys|hb27] -p [sys|hb38] ###
[code]

### 3. Homebrew Qt6 with -r nil -p nil ###
[code]

[2021-11-27 06:41] Kazzz-S commented on #45
Dear @klayoutmatthias

Thank you for your effort to migrate to Qt6.
I have started my migration work here (*) to catch up with you.
The branch is **qt6-mac**  in https://github.com/Kazzz-S/klayout.git

(*) Please let me know if you should create a new ticket on the main site.

Kazzz-S

[2021-12-03 09:22] Kazzz-S commented on #45
## Build-02 on Catalina ##

Dear @klayoutmatthias,

I have merged the recent commits in the **qt6 branch** into 10c6dbf5 and tried to build.
There are 3 log files [here](https://www.dropbox.com/sh/cx2z5u56vtabhzu/AABWR-yafLY3quadqtvwdQmEa?dl=0).

Thanks
Kazzz-S

[2021-12-06 11:53] Kazzz-S commented on #45
## Build-03 on Catalina ##

Dear @klayoutmatthias,

I have merged the recent commits in the **qt6 branch** into bf8793f4 and tried to build.
There are 4 log files (the successful one is with Qt5) [here](https://www.dropbox.com/sh/qz2waha4n1wqhlz/AAABQCDoJY-58Rdf8iv1ot3Ua?dl=0).

Thanks
Kazzz-S

[2021-12-12 06:18] Kazzz-S commented on #45
## Build-04 on Catalinae ##

Dear @klayoutmatthias,

I have merged the recent commits in the **qt6 branch** into a71a7613 and tried to build.
There are some log files and DMGs [here.](https://www.dropbox.com/sh/frp5ir7phrgwdbk/AAC6P2YNa2SgWuu9xX1nxfAua?dl=0)

|Srl.No.|Build Options and Log|Build Status|Remarks|
|:------:|:--------|:--------------:|:--------:|
1|qt6Brew.build.macos-Catalina-release

[2022-01-10 07:11] Kazzz-S commented on #45
## Build-06 on Catalina ##

Dear @klayoutmatthias,

I have merged the recent commits in the **qt6 branch** into 709466bd and tried to build.
There is a log file [here.](https://www.dropbox.com/sh/w9dgpscqgj4nfkp/AACYZGvfbJ9xM1l-PWkIxBAGa?dl=0)

|Srl.No.|Build Options and Log|Build Status|Remarks|
|:------:|:--------|:--------------:|:--------:|
1|qt6Brew.build.macos-Catalina-release-RsysPsys.zip|F

[2022-01-23 00:39] Kazzz-S commented on #45
## Build-07 on Catalina ##

Dear @klayoutmatthias,

I have merged the recent commits in the **qt6 branch** into 6884415b and tried to build applying the [above workaround](https://github.com/Kazzz-S/klayout/issues/45#issuecomment-1008592663)
There is a log file [here.](https://www.dropbox.com/sh/11ltk04hk45oa96/AACaXwXEqRPbxZ4lsd9YBN8Ha?dl=0)

|Srl.No.|Build Options and Log|Build Status|Remarks|
|

[2022-03-07 13:42] Kazzz-S commented on #45
## Build-08 on Catalina ##

Dear @klayoutmatthias,

I have merged the recent commits in the **qt6(master) branch** into a4b66319 and tried to build applying the [above workaround](https://github.com/Kazzz-S/klayout/issues/45#issuecomment-1008592663)
There are some log files [here.](https://www.dropbox.com/sh/4fl816qdd81be8v/AAD0MVJm8dK4Bd-8RuPRIEola?dl=0)

|Srl.No.|Build Options and Log|Build Stat

[2022-04-17 00:49] Kazzz-S commented on #45
## Build-09 on Catalina ##

Dear @klayoutmatthias,

I have merged the recent commits in the **master branch** into fd4fe5ce6 and tried to build it applying the [above workaround](https://github.com/Kazzz-S/klayout/issues/45#issuecomment-1008592663)
There is a log file [here.](https://www.dropbox.com/sh/auf4rzw080te7ob/AAAfkXTgbdjsXSzoVYszkLBxa?dl=0)

|Srl.No.|Build Options and Log|Build Status|Rem

[2022-07-21 12:05] Kazzz-S commented on #45
## Build-10 on Monterey ##

Dear @klayoutmatthias,

I have merged the recent commits in the **master branch** into 2aec9670 and built it on Monterey.
There is a log file [here.](https://www.dropbox.com/sh/18w00x875y9ycwi/AABo-a6imKPQgu94fLEg57mUa?dl=0)

|Srl.No.|Build Options and Log|Build Status|Remarks|
|:------:|:--------|:--------------:|:--------:|
1|qt6Brew.build.macos-Monterey-release-Rhb27